/* Word-break:The word-break property specifies how words should break when reaching the end of a line.

Value	Description	Demo
normal	Default value. Uses default line break rules	
break-all:	To prevent overflow, word may be broken at any character	
keep-all :	Word breaks should not be used for Chinese/Japanese/Korean (CJK) text. Non-CJK text behavior is the same as value "normal"	
break-word:	To prevent overflow, word may be broken at arbitrary points	
initial	:Sets this property to its default value. 	
inherit	:Inherits this property from its parent element. */

.word1
{
    border:2px solid black;
    height:200px;
    width:100px;
}

.word2
{
    border:2px solid black;
    height:200px;
    width:100px;
    position:absolute;
    right:200px;
    top:0px;
    word-break:normal;
}

.word3
{
    border:2px solid black;
    height:200px;
    width:100px;
    position:absolute;
    top:300px;
    word-break:break-all;
}

.word4
{
    border:2px solid black;
    height:200px;
    width:100px;
    position:absolute;
    top:300px;
    right:200px;
    word-break:break-word;
}

/* Word-wrap: Allow long words to be able to break and wrap onto the next line. */

.word-wrap
{
    border:2px solid black;
    height:200px;
    width:100px;
    position:absolute;
    top:600px;
    right:200px;
    word-wrap:break-word;    
}

/* Word spacing:The word-spacing property increases or decreases the white space between words.

Note: Negative values are allowed.

Value	Description	Demo
normal:	Defines normal space between words (0.25em) . This is default	
length	: Defines an additional space between words (in px, pt, cm, em, etc). Negative values are allowed. Read about length units	
initial	: Sets this property to its default value. Read about initial	
inherit	" Inherits this property from its parent element. Read about inherit  */

.length50px
{
    position:absolute;
    top:600px;
    word-spacing: 50px
  
}


/* Writing mode property:The writing-mode property specifies whether lines of text are laid out horizontally or vertically.

 Value	Description	Demo
horizontal-tb	Let the content flow horizontally from left to right, vertically from top to bottom	
vertical-rl	Let the content flow vertically from top to bottom, horizontally from right to left	
vertical-lr	Let the content flow vertically from top to bottom, horizontally from left to right. */

.write-mode
{
    position:absolute;
    top:650px;
    writing-mode: vertical-rl;
}
