a
{
    text-decoration: none;
}


.C1
{
    background-color: aqua;
    overflow:hidden;
}

.btn .C2
{
    background-color: yellowgreen;
    border:none;
    padding: 4px 4px;
}

.C3
{
    position:absolute;
    background-color: blanchedalmond;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px black;
    z-index: 1;
}

.C1 a
{
    float:left;
    padding:5px 5px;
    
} 

.C3 a
{
   float:none; 
   color:black;
   display:block;
   text-align: left;
   display:none;
}

.btn
{
    float:left;
    overflow:hidden;
}

.btn:hover .C3 a
{
    display:block;
}

.C3 a:hover
{
background-color: brown;
}

a:hover
{
    background-color: aquamarine;
}

button.C2:hover
{
background-color: greenyellow;
}